<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <title>Home</title>
</head>
<body>
    <main class="main">
        <header class="header">
            <div class="col-xs-2">
                <div id="logo">
                    <a>
                        <img class="normal_logo" src="" alt="image" title="" style="max-height:90px;"/> 
                    </a>
                </div>
            </div>
            <nav class="navbar">
                <a href="#" class="active">Acceuil</a>
                <a href="#">A propos</a>
                <a href="#">service</a>
                <a href="#">Support</a>
            </nav>
        </header>

        <div class="container">
            <section class="slider">

            </section>
        </div>


    </main>
</body>
</html>